@model Proyecto_WEB.Models.Request.UsuarioRequest
<script src="~/js/sweetalert2.min.js">

</script>
<link rel="stylesheet" href="/css/formulario.css" />

@using (@Html.BeginForm("Actualizar", "Usuario", FormMethod.Post, new { id = "miFormulario", @class = "form" })) {
    @Html.AntiForgeryToken();
    @Html.HiddenFor(x=> x.Id)
    <div class="form__group">
        @Html.LabelFor(x=> x.Nombre, new { @class = "form__label" })

        <div class="form__sub__group">
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form__text_box", placeholder ="Ingrese su nombre" })
            @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form__group">
        @Html.LabelFor(x=> x.FechaNacimiento, new { @class = "form__label" })

        <div class="form__sub__group">
           
            @Html.EditorFor(m => m.FechaNacimiento, new { @class = "form__calendar" })
            @Html.ValidationMessageFor(m => m.FechaNacimiento, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form__group">
        @Html.LabelFor(x=> x.Sexo, new { @class = "form__label" })

        <div class="form__sub__group">
            @Html.DropDownListFor(m => m.Sexo,new SelectList(ViewBag.Opciones ?? new List<string>()), new { @class = "form-combo" })
            @Html.ValidationMessageFor(m => m.Sexo, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Actualizar" />
    <a class="btn btn-danger" asp-area="" asp-controller="Usuario" asp-action="consulta">Cancelar</a>
}